.git
Dockerfile
.DS_Store
.gitignore
/env/*
*__pycache__*
*.pyc
*.hypothesis
*.egg-info/
*.egg
.tox/
.coverage
.coverage.*
.cache
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
.coverage
env/
venv/
.hypothesis/
*.md
Jenkinsfile